<template name="about">
{{#markdown}}
## About me
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
minim veniam,
quis nostrud **exercitation ullamco** laboris nisi ut aliquip ex
ea commodo
consequat.
Link to my facebook: [facebook.com][1]
Link to my twiter: [twitter.com][2]
Link to my blog: [http://smag0.blogspot.fr][2]
[1]: http://facebook.com
[2]: https://twitter.com/dfaveris
[3]: http://smag0.blogspot.fr/2015/08/dreamcatcher-lattrape-reves.html
{{/markdown}}
</template>